altgraph==0.17.3
async-generator==1.10
attrs==21.2.0
beautifulsoup4==4.10.0
CacheControl==0.12.11
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==35.0.0
et-xmlfile==1.1.0
firebase-admin==5.3.0
google-api-core==2.10.0
google-api-python-client==2.60.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.6.1
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grpcio==1.48.1
grpcio-status==1.48.1
h11==0.12.0
httplib2==0.20.4
idna==3.3
lxml==4.6.4
msgpack==1.0.4
numpy==1.21.3
opencv-python==4.5.4.58
openpyxl==3.0.9
outcome==1.1.0
packaging==23.1
pandas==1.3.4
pefile==2023.2.7
proto-plus==1.22.1
protobuf==4.21.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydub==0.25.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pyOpenSSL==21.0.0
pyparsing==3.0.9
PyPasser==0.0.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2021.3
pywin32-ctypes==0.2.2
requests==2.26.0
rsa==4.9
selenium==4.11.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
trio==0.19.0
trio-websocket==0.9.2
undetected-chromedriver==3.5.0
uritemplate==4.1.1
urllib3==1.26.7
webdriver-manager==4.0.0
websockets==11.0.3
wsproto==1.0.0
XlsxWriter==3.1.2
